body {
    margin: 0;
    padding: 0;
    background: url('../img/Logo_Avance.png') no-repeat center center fixed;
    background-size: cover;
}

.options {
    display: none;
    position: absolute;
    top: 40px;
    left: 10px;
    background: #fff;
    border: 1px solid #04CF9E;
    padding: 10px;
    z-index: 1;
}

.options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #04CF9E;
    /* Corregido el color aquí */
}

.options a:hover {
    background-color: rgba(18, 184, 170, 0.8);
    color: #fff;
}

/* Estilo para el botón de opciones */
#show-options-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(18, 184, 170, 0.8);
    color: #fff;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

@media (max-width: 768px) {
    #show-options-button {
        top: 5px;
        left: 5px;
        padding: 8px;
        padding: 8px 10px;
    }

    .options {
        width: 80%;
        left: 10%;
    }
}

@media (max-width: 480px) {
    .options a {
        padding: 8px;
        font-size: 14px;
    }
}