body {
    margin: 0;
    padding: 0;
    background: linear-gradient(159deg, #fff, #009688);
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Ajustar al inicio verticalmente */
    min-height: 100vh;
}

.mensaje-exito {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: rgb(84, 36, 214);
    border-radius: 10px;
}

.mensaje-exito h2 {
    color: #fff;
}

.mensaje-exito p {
    color: #fff;
    margin-bottom: 20px;
}

.mensaje-exito a {
    display: block;
    width: fit-content;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    margin: 30px auto;
    padding: 8px 16px;
    border-radius: 5px;
    background: rgb(14, 202, 55);
}



.mensaje-exito a:hover {
    color: #550bdd;
}