
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
}
#maquina{
  position: relative;
  text-align: center;
}
.izquierda {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.izquierda video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.derecha {
  flex: 1;
  background: linear-gradient(159deg, #009688, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
    border-radius: 20px;
}

.username {
  position: relative;
  margin: 30px 0;
  width: 80%;
  border-bottom: 1px solid rgb(13, 43, 212);
}

.username input {
  width: 100%;
  height: 40px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  padding-left: 35px; /* espacio para el ícono */
}

.username label {
  position: absolute;
  top: 50%;
  left: 35px; /* ahora se alinea bien con el input */
  transform: translateY(-50%);
  color: gray;
  pointer-events: none;
  transition: .5s;
}

.username input:focus~label,
.username input:valid~label {
  color: purple;
  top: -5px;
  font-size: 12px;
}

.username i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  font-size: 20px;
}

input[type="submit"] {
  margin-top: 20px;
  height: 40px;
  background: #009688;
  color: white;
  font-size: 16px;
  border: none;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: rgb(2, 150, 68);
}


/* Ícono ojo */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: red;
  font-size: 20px;
}