body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('images/FONDO-DE-PANTALLA-PC_1 - copia (1).png') no-repeat center 20% fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: opacity 0.5s ease;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Añadido para bordes redondeados */
    box-sizing: border-box;
    font-size: 16px;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 12px 20px;
    background-color: #04CF9E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.login-container input[type="submit"]:hover {
    background-color: #009688;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Añadido efecto de sombra */
}

.login-container a {
    color: #04CF9E;
    text-decoration: none;
    font-size: 14px;
}

.login-container a:hover {
    text-decoration: underline;
}
