body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;

}

.peticiones-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto;

}


table {
    width: 100%;
    border-collapse: collapse;

}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #666;
}

tr:hover {
    background-color: #f9f9f9;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el botón de gráficas */
.peticiones-container {
    position: relative;
}

.graficas-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #04CF9E;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-bolver {
    position: relative;
    background-color: #04CF9E;
    border: none;
    height: 30px;
    border-radius: 10px;
    width: 5%;
    top: 1px;
    margin: 0 10px;
}
.btn-bolver a {
    text-decoration: none;
    color: white;
}

.btn-bolver:hover {
    background: #007bff;
}