body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   /* background: linear-gradient(159deg, #fff, #009688)!important;*/
}

.soluciones-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.error-message {
    color: red;
    margin-top: 10px;
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.problema {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.problema h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.problema p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}

.solucion {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.solucion::placeholder {
    color: #999;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.soluciones-button {
    background-color: #04CF9E;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.soluciones-button:hover {
    background-color: #00a67c;
}