body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(159deg, #fff, #009688);
    font-family: Arial, sans-serif;
}

.exito {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}